.heading
{
    font-size :30px;
    margin:0px;
    width:100%;
    box-shadow: 5px 5px 5px rgb(13, 198, 140);
}
.Note
{
    font-size:15px;
    color:rgb(114, 5, 114);
}
.copy_right_footer
{
    position:fixed ;
    color: paleturquoise;
    bottom: 0;
    width:100%;
    background-color: blueviolet;
    line-height:3;
    text-align:center;

}
canvas
{
    border:5px rgb(202, 65, 240);
    border-radius:20px ;
    box-shadow: 5px 5px 5px rgb(238, 229, 73);
}

